*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    background-color: aliceblue;
}
.container{
    display: flex; 
    align-items: center;
    justify-content: center;
}
.board{
    width: auto;
    height: auto;
    margin: auto;
}
.game-board{
    width: 568px;
    margin: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    transition: 0.5s all;
    /* border: 3px solid green; */
    border-radius: 3px;
}
.start-game-board{
    text-align: center;
    margin-top: 100px;
    transition: all 0.5s;
}
.start-game-board img{
    width: 400px;
    border-radius: 10px;
}
.start-game-board p{
    font-size: 30px;
}
.start-game-board button{
    padding: 10px 10px;
    cursor: pointer;
    font-size: 25px; 
    outline: none;
    border: 2px solid mediumseagreen;
    border-radius: 5px;
    background: white;
    margin-top: 30px;
    transition: 0.5s;
}
.game-board .start-game-board button:hover{
    background-color: mediumseagreen;
    color:  white;
}

.game-board .uno-block{
    position: relative;
    border: 1px solid #fff;
    transition: all 0.5s;
    
}

.game-board .uno-block .placeholder,
.game-board .uno-block .mistery{
    width: 140px;
    height: 140px;
    background-color: rgb(184, 210, 232);
    cursor: pointer;
    border-radius: 5px;
}

.game-board .uno-block .placeholder{
    position: absolute;
    visibility: visible;
    border-radius: 5px;
}

.game-board .uno-block.reverse .placeholder{
    animation: flip 0.5s;
    visibility: hidden;
}

.game-board .uno-block.reverse .mistery{
    animation: reverseflip 0.5s;
}
.unclickable{
    pointer-events: none;
}

@keyframes flip {
    0%{
        transform: rotateY(0);
        visibility: visible;
    }
    100%{
        transform: rotateY(90deg);
        visibility: hidden;
    }
}

@keyframes reverseflip {
    0%{
        transform: rotateY(-90deg);
    }
    100%{
        transform: rotateY(0);
    }
}


